            <ul id="accordion" class="accordion">
                {{#each Menu}}
                    {{#if hasSub}}
                    <li>
                        <div class="link"><span class="glyphicon {{icon}}"></span>{{text}}<span class="glyphicon glyphicon-menu-down"></span></div>
                        <ul class="submenu">
                            {{#each subMenu}}
                                <li><a href="{{path}}">{{text}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    {{else}}
                    <li>
                        <a class="link" href="{{path}}">
                            <span class="glyphicon {{icon}}"></span>
                            {{text}}
                        </a>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>

            <div class="size-toggle">
                <a class="btn btn-sm" id="sizeToggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>

