<aside class="fixed skin-6">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="size-toggle">
            <a class="btn btn-sm" id="sizeToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div><!-- /size-toggle -->
        <div class="main-menu">
            <ul>
                {{#each Menu}}
                    {{#if hasSub}}
                        <li class="openable {{#if active}}active{{/if}}">
                            <a href="#">
                                <span class="menu-icon">
                                    <i class="fa fa-file-text fa-lg"></i>
                                </span>
                                <span class="text">
                                    {{text}}
                                </span>
                                <!--<span class="badge badge-success bounceIn animation-delay5">9</span>-->
                                <span class="menu-hover"></span>
                            </a>
                            <ul class="submenu">
                                {{#each subMenu}}
                                    <li><a href="{{path}}"><span class="submenu-label">text</span></a></li>
                                {{/each}}
                            </ul>
                        </li>
                    {{else}}
                        <li {{#if active}}class="active"{{/if}}>
                            <a href="{{path}}">
                                <span class="text">
                                    {{text}}
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>

            <div class="alert alert-info">
                Welcome to Endless Admin. Do not forget to check all my pages.
            </div>
        </div><!-- /main-menu -->
    </div><!-- /sidebar-inner scrollable-sidebar -->
</aside>
