<td> 
    <label class="checkbox-inline"> 
	   <input type="checkbox">体育
	</label>
</td>
<td>{{userId}}</td>
<td>{{userName}}</td>
<td>{{major}}</td>
<td>{{class}}</td>
<td>{{studentId}}</td>
<td>
	<a href="javascript:;"><span class="glyphicon glyphicon-edit"></span> 修改</a>
	<a href="javascript:;"><span class="glyphicon glyphicon-trash"></span> 删除</a>
</td>