<td> 
    <label> 
	   <input type="checkbox">
	</label>
</td>
<td>{{userID}}</td>
<td>{{name}}</td>
<td>{{major}}</td>
<td>{{className}}</td>
<td>{{studentID}}</td>
<td>
	<a href="javascript:;" class="update"><span class="glyphicon glyphicon-edit"></span> 修改</a>
	<a href="javascript:;" class="delete"><span class="glyphicon glyphicon-trash"></span> 删除</a>
</td>