
            <div><p class="text-left"><span class="glyphicon glyphicon-play-circle"></span> 用户列表</p></div>
            <hr>
             
            <a href="">userList</a>
            <a href="#userCheck">userCheck</a>
            
            <table class="table">
            	<thead>
            		<tr style="background: #eee;">
            			<th>
                     <label>
                       <input type="checkbox"> 全选
                     </label>
                  </th>
            			<th>用户名ID</th>
            			<th>姓名</th>
            			<th>专业</th>
            			<th>班级</th>
            			<th>学号</th>
            			<th>操作</th>
            		</tr>
            	</thead>

            	<tbody id="List">
                  {{#if user}}
                     {{#each user}}
                        <tr>
                          <td><input type="checkbox"></td>
                          <td>{{userID}}</td>
                          <td>{{name}}</td>
                          <td>{{major}}</td>
                          <td>{{class}}</td>
                          <td>{{no}}</td>
                          <td>
                             <a href=""><span class="glyphicon glyphicon-edit"></span> 修改</a>
                             <a href=""><span class="glyphicon glyphicon-trash"></span> 删除</a>
                          </td>
                        </tr>
                     {{/each}}
                  {{/if}}
                  {{#if check}}
                     {{#each check}}
                        <tr>
                          <td><input type="checkbox"></td>
                          <td>{{userID}}</td>
                          <td>{{name}}</td>
                          <td>{{major}}</td>
                          <td>{{class}}</td>
                          <td>{{no}}</td>
                          <td>
                             <a href=""><span class="glyphicon glyphicon-ok-sign"></span> 同意</a>
                             <a href=""><span class="glyphicon glyphicon-remove-sign"></span> 拒绝</a>
                          </td>
                        </tr>
                     {{/each}}
                  {{/if}}
            	</tbody>

              <tfoot>
                 <tr>
                   <td colspan="7">
                      <form action="" class="form-inline" style="float:left">
                         <span>本页显示</span>
                         <select name="" id="" class="form-control">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                         </select>
                         <span>条记录数</span>
                         <button class="btn btn-info">批量删除</button>
                      </form>

                      <div style="float:right">
                         当前第<span>&</span>页,共<span>&</span>页
                         <ul class="pagination">
                           <li><a href="#">&laquo;</a></li> 
                           <li class="active"><a href="#">1</a></li> 
                           <li><a href="#">2</a></li> 
                           <li><a href="#">3</a></li> 
                           <li><a href="#">4</a></li> 
                           <li><a href="#">5</a></li> 
                           <li><a href="#">&raquo;</a></li>
                         </ul>
                      </div>

                   </td>
                 </tr>
              </tfoot>
            </table>




          