{{!步骤4 订单选取}}

<div class="panel panel-default">
     <div class="panel-heading">
    	<h4>	
    		<span>
    		订单选取&nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp;第一次选单
    		</span>
    		<button class="btn btn-info finish">结束订单</button>
    		<button class="btn btn-info check">查看所有订单信息</button>
    	</h4>

     </div>
     <div class="panel-body step-four">
     	<form class="form-inline">
     		<span>请选择市场：</span>
	     	<select class="markets form-control">
	     		<option>全部</option>
	     		
	     	</select>

	     	<span>请选择产品：</span>
	     	<select class="products form-control">
	     		<option>全部</option>
	     		
	     	</select>

	     	<button type="button" class="btn btn-info">查询</button>
	    </form>
	    <ul>
	    	{{#each orderList}}
	    	<li>
		    	<table>
		    		<tr>
		    			<td colspan="2">
		    				订单编号：{{chooseID}}
							<button class="choose">
								选择订单
							</button>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>市场：{{marketName}}</td>
		    			<td>总计金额：{{price}}</td>
		    		</tr>
		    		<tr>
		    			<td>产品：{{productName}}</td>
		    			<td>交货日期：{{needTime}}</td>
		    		</tr>
		    		<tr>
		    			<td>数量：{{pNumber}}</td>
		    			<td>货款日期：{{moneyTime}}</td>
		    		</tr>
		    		<tr>
		    			<td>单价：{{price}}</td>
		    			<td>罚金率：{{penalPercent}}</td>
		    		</tr>
		    		<tr>
		    			<td>特别说明：{{specialRem}}</td>
		    		</tr>
		    	</table>
		    	{{#if request}}

		    	{{/if}}
	    	</li>
	    	{{/each}}
	    </ul>
     </div>
</div>