<td>
  <label>
     <input type="checkbox">
  </label>
</td>
<td>{{userId}}</td>
<td>{{userName}}</td>
<td>{{major}}</td>
<td>{{class}}</td>
<td>{{studentId}}</td>
<td>
	<a href="javascript:;"><span class="glyphicon glyphicon-ok-sign"></span> 同意</a>
	<a href="javascript:;"><span class="glyphicon glyphicon-remove-sign"></span> 拒绝</a>
</td>