<td>
  <label>
     <input type="checkbox">
  </label>
</td>
<td>{{userID}}</td>
<td>{{name}}</td>
<td>{{major}}</td>
<td>{{className}}</td>
<td>{{studentID}}</td>
<td>
	<a href="javascript:;" class="agree"><span class="glyphicon glyphicon-ok-sign"></span> 同意</a>
	<a href="javascript:;" class="refuse"><span class="glyphicon glyphicon-remove-sign"></span> 拒绝</a>
</td>