 <tr class="group__item item">
	<td><span class="glyphicon glyphicon-plus"></span></td>
	<td>{{gName}}</td>
	<td>{{gLeader}}</td>
	<td>{{gNum}}</td>
	<td>{{yearNum}}</td>
	<td>{{quarterNum}}</td>
	<td>{{nowTime}}</td>
	<td>
	   <a href="javascript:;" class="delete"><span class="glyphicon glyphicon-trash"></span> 删除</a>&nbsp;
	   <a href="javascript:;" class="addHistroy"><span class="glyphicon glyphicon-indent-right"></span> 加入历史记录</a>
	</td>
 </tr>

 <tr class="group__item details details-head">
   <td colspan="3">标识符</td>
   <td colspan="2">时间</td>
   <td>游戏状态</td>
   <td>广告状态</td>
   <td>订单状态</td>
 </tr>
 <tr class="group__item details details-body">
   <td colspan="3">{{identifier}}</td>
   <td colspan="2">{{time}}</td>
   <td>{{gameState}}</td>
   <td>{{advState}}</td>
   <td>{{orderState}}</td>
 </tr>
