<td><span class="glyphicon glyphicon-plus"></span></td>
<td>{{gName}}</td>
<td>{{gLeader}}</td>
<td>{{gNum}}</td>
<td>{{yearNum}}</td>
<td>{{quarterNum}}</td>
<td>{{nowTime}}</td>
<td>
   <a href=""><span class="glyphicon glyphicon-trash"></span> 删除</a>&nbsp;
   <a href=""><span class="glyphicon glyphicon-indent-right"></span> 加入历史记录</a>
</td>