
<div class="page-header">
  <i class="glyphicon glyphicon-menu-right"></i>
  <span>待审批用户</span>
</div>

<div class="check-list-content">
  <div>

  </div>
  <div class="check__list">
    
  </div>
</div>

<div class="page">
  <form action="" class="form-inline">
     <span>本页显示</span>
     <select name="" id="pageLimit" class="form-control">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="100">100</option>
     </select>
     <span>条记录数</span>
     <button class="btn btn-info agree">同意</button>
     <button class="btn btn-info refuse">拒绝</button>
  </form>

  <ul class="pagination" id="pagination">
    {{#if prev}}
      <li><a href="#colors?page={{prev}}">&laquo;</a></li>
    {{else}}
      <li class="disabled"><a>&laquo;</a></li>
    {{/if}}

    {{#each pages}}
      {{#if current}}
        <li class="active"><a>{{page}} <span class="sr-only">(current)</span></a></li>
      {{else}}
        <li><a href="#colors?page={{page}}">{{page}}</a></li>
      {{/if}}
    {{/each}}

    {{#if next}}
      <li><a href="#colors?page={{next}}">&raquo;</a></li>
    {{else}}
      <li class="disabled"><a>&raquo;</a></li>
    {{/if}}
  </ul>
</div>
