    
		<div class="title">
			<span class="topic">已开拓市场</span>
			<span class="line"><hr></span>
		</div>
		
		{{#each developedMarket}}
		<div class="row">
			<div class="col-md-1" id="{{marketN marketName}}"></div>
			<div class="col-md-10">
				<div class="col-md-3"><h4>市场名称</h4><br><h3>{{marketName}}</h3></div>
				<div class="col-md-3"><h4>每期维护费用</h4><br><h3>{{maintainCost}}</h3></div>
				<div class="col-md-3 statu"><h4>当前状态</h4><br><h3>{{Status status}}</h3></div>
				<div class="col-md-3"><h4>上一期状态</h4><br><h3>{{lastStatus lastStatus}}</h3></div>		
			</div>
			<div class="col-md-1 btn stopSer">暂停维护</div>
		</div>
		{{/each}}
		
	

