
<div class="page-header">
  <i class="glyphicon glyphicon-menu-right"></i>
  <span>用户列表</span>
</div>

<div class="user-list-content">
  <div>

  </div>
  <div class="users__list">
    
  </div>
</div>

<div class="page">
  <form action="" class="form-inline">
     <span>本页显示</span>
     <select name="" id="pageLimit" class="form-control">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="100">100</option>
     </select>
     <span>条记录数</span>
     <button class="btn btn-info">批量删除</button>
  </form>
  
  <ul id="pagination" class="pagination">
    {{#if prev}}
      <li><a href="#admin/userList">&laquo;</a></li>
    {{else}}
      <li class="disabled"><a>&laquo;</a></li>
    {{/if}}

    {{#each pages}}
      {{#if current}}
        <li class="active"><a>{{page}} <span class="sr-only">(current)</span></a></li>
      {{else}}
        <li><a href="#admin/userList">{{page}}</a></li>
      {{/if}}
    {{/each}}

    {{#if next}}
      <li><a href="#admin/userList">&raquo;</a></li>
    {{else}}
      <li class="disabled"><a>&raquo;</a></li>
    {{/if}}
  </ul>
</div>
